
@font-face {font-family: "fi";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#fi') format('svg'); /* iOS 4.1- */
}

.fi {
  font-family:"fi" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.fi-sina:before { content: "\e604"; }
.fi-weibo:before { content: "\e605"; }
.fi-msg:before { content: "\e606"; }
.fi-left:before { content: "\e601"; }
.fi-right:before { content: "\e600"; }
.fi-mail:before { content: "\e607"; }
.fi-home:before { content: "\e608"; }
.fi-check:before { content: "\e609"; }
.fi-close:before { content: "\e60a"; }
.fi-location:before { content: "\e60b"; }
.fi-warning:before { content: "\e60c"; }
.fi-phone:before { content: "\e60d"; }
.fi-search:before { content: "\e60e"; }
.fi-qq:before { content: "\e60f"; }
.fi-qqzone:before { content: "\e610"; }
.fi-up:before { content: "\e602"; }
.fi-down:before { content: "\e603"; }
.fi-share:before { content: "\e611"; }
.fi-renren:before { content: "\e612"; }
.fi-qrcode:before { content: "\e613"; }
.fi-wechat:before { content: "\e614"; }
.fi-chart:before { content: "\e616"; }
.fi-baidu:before { content: "\e615"; }
.fi-project:before { content: "\e617"; }
