doctype html
html
  include inc/head.jade
  body
    include inc/header2.jade
    section
      .container
        h1#greeting 投资人认证
        .box-content
          #content-100
            span.title-box-content 请上传身份证和名片，帮助我们快速核实您的身份（两种证件必须同时上传）
            form(action="",method="post")
              .form-group.input-group
                input.form-control(type="text",placeholder="点击上传身份证扫描件或高清拍照")
                span.input-group-addon#basic-addon1 +
              .form-group.input-group
                input.form-control(type="text",placeholder="点击上传名片扫描件或高清拍照")
                span.input-group-addon#basic-addon1 +
              p.error-form-prefix-na 上传图片格式仅限JPG、PNG，大小限制为300KB
              .form-group.deal
                input#check-deal(type="checkbox",name="check-deal")
                <span>我承诺以上登记的所有信息都是绝对真实的，并对因虚假信息产生的一切后果负全责。</span>
              button.btn-blue(type="submit") <span>提交认证</span>
    include inc/contact.jade
    include inc/footer.jade