doctype html
html
  include inc/head.jade
  body
    include inc/header2.jade
    section
      .content-website
        .container
          h1.greeting
            b 上传视频
          .box-content
            #content-210
              #player-website
                img(src="img/image-player.png", alt="player")
              button.btn-blue(type="submit") <span>选择上传文件</span>
    include inc/contact.jade
    include inc/footer.jade