doctype html
html
  include inc/head.jade
  body
    include inc/header2.jade
    section
      .content-website
        .container
          h1.greeting Welcome to span <b>超越无限</b>
          .box-content
            span Or
            .row
              .col-lg-6.col-md-6.col-sm-12.col-xs-12.box-info-content
                  span.title-box-content 通过第三方登录：
                  a.icon-content-small(href="#") <span class="fi fi-wechat"></span><span class="title">微信</span>
                  a.icon-content-small(href="#") <span class="fi fi-sina"></span><span class="title">新浪微博</span>
              .col-lg-6.col-md-6.col-sm-12.col-xs-12.box-info-content
                  #content-60
                    form(action="#",method="post")
                      .form-group
                        input.form-control(type="text",placeholder="昵称",name="uname",id="uname")
                      .form-group
                        input.form-control(type="text",placeholder="Email",name="email",id="email")
                        span.error-form *
                      .form-group
                        input.form-control(type="text",placeholder="手机号")
                        span.error-form *
                      .form-group.hcode
                        input.form-control#input-getcode(type="text",placeholder="验证码")
                        .getcode.getCode-prefix-na
                              button#getCode.btn(type="button") 获取验证码
                      .form-group
                        input.form-control(type="text",placeholder="密码")
                        span.error-form *
                      .form-group
                        input.form-control(type="text",placeholder="确认密码")
                        span.error-form *
                      .form-group.deal.squaredThree
                        input(type="checkbox",value="None",id="squaredThree",name="check")
                        label(for="squaredThree")
                        <span>我已阅读并接受 <a href="#" title="注册协议">注册协议</a> </span>
            a#btn-content(href="#",target="_blank") 下一步
    include inc/contact.jade
    include inc/footer.jade