doctype html
html
  include inc/head.jade
  body
    include inc/header2.jade
    section
      .container
        h1#greeting Welcome to span 超越无限
        .box-content
          span Or
          .row
            .col-lg-6.col-md-6.col-sm-12.col-xs-12.box-info-content
                .box-info-content-70
                  a.icon-content(href="#") <span class="fi fi-project"></span>
                  h2 
                    a(href="#", target="_blank") 发起项目
                  p 上传项目资料、发起项目、申请制作或上传路演视频、寻找投资人......
            .col-lg-6.col-md-6.col-sm-12.col-xs-12.box-info-content
                .box-info-content-70
                  a.icon-content(href="#") <span class="fi fi-chart"></span>
                  h2 
                    a(href="#", target="_blank") 发起项目
                  p 上传项目资料、发起项目、申请制作或上传路演视频、寻找投资人......
          span 请选择类别
    include inc/contact.jade
    include inc/footer.jade