doctype html
html
  include inc/head.jade
  body
    include inc/header2.jade
    section
      .content-website
        .container
          h1.greeting 
            b 增加新阶段
          .box-content.box-content-form#content-80
            .col-lg-4.col-md-4.col-sm-4.col-xs-12
              .box-upload
                .upload
                  input(type="file",name="upload", class="upload-prefix-na")
                  span Logo
                  button.btn-blue(type="submit") 点击上传
              
            .col-lg-8.col-md-8.col-sm-8.col-xs-12
              form(action="#",method="post")
                .form-group
                  label 项目名称：
                  input.form-control(type="text")
                .form-group
                  label 一句话介绍：
                  input.form-control(type="text")
                .form-group
                  label 行业领域：
                  input.form-control(type="text",placeholder="“最多可选择5个领域”")
                .form-group
                  label 所属阶段：
                  select.form-control
          include inc/box-deal.jade
    include inc/contact.jade
    include inc/footer.jade