header
  #user-link
    .container
      ul
        li 已有账户 ,
        li
          a(href="#",title="",) 马上登录
        li
          a(href="#",title="",) 返回网站首页
  #banner
    a(href="#",target="_blank",title="home-page")
      img(src="img/logo.png" class="logo-banner" alt="logo-website")